ComplexParser/bin/Debug/ComplexParser.dll
ComplexParser/bin/Debug/ComplexParser.pdb
ComplexParser/bin/Debug/ComplexParser.XML
ComplexParser/obj/Debug/ComplexParser.csproj.FileListAbsolute.txt
ComplexParser/obj/Debug/ComplexParser.dll
ComplexParser/obj/Debug/ComplexParser.pdb
ComplexParser/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ComplexParser/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ComplexParser/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ComplexParser/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Fractals/bin/Debug/ComplexParser.dll
Fractals/bin/Debug/ComplexParser.pdb
Fractals/bin/Debug/ComplexParser.xml
Fractals/bin/Debug/Fractals.dll
Fractals/bin/Debug/Fractals.pdb
Fractals/bin/Debug/Fractals.XML
Fractals/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Fractals/obj/Debug/Fractals.csproj.FileListAbsolute.txt
Fractals/obj/Debug/Fractals.csprojResolveAssemblyReference.cache
Fractals/obj/Debug/Fractals.dll
Fractals/obj/Debug/Fractals.pdb
Fractals/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Fractals/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Fractals/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FractalStudio/bin/Debug/FractalStudio.vshost.exe
FractalStudio/bin/Debug/FractalStudio.vshost.exe.config
FractalStudio/FractalStudio.csproj
FractalStudio/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FractalStudio/obj/Debug/FractalStudio.CorrelationWindow.resources
FractalStudio/obj/Debug/FractalStudio.csproj.FileListAbsolute.txt
FractalStudio/obj/Debug/FractalStudio.csproj.GenerateResource.Cache
FractalStudio/obj/Debug/FractalStudio.csprojResolveAssemblyReference.cache
FractalStudio/obj/Debug/FractalStudio.JuliaWindow.resources
FractalStudio/obj/Debug/FractalStudio.LsystemWindow.resources
FractalStudio/obj/Debug/FractalStudio.MainWindow.resources
FractalStudio/obj/Debug/FractalStudio.MandelbrotWindow.resources
FractalStudio/obj/Debug/FractalStudio.MinkowskiWindow.resources
FractalStudio/obj/Debug/FractalStudio.Properties.Resources.resources
FractalStudio/obj/Debug/FractalStudio.SettingSizeImg.resources
FractalStudio/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FractalStudio/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FractalStudio/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FractalStudio/Properties/app.manifest
